body{
    margin: 0;
    height: 110em;
    background-color: #5D6480;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #3A405A;
}
.logga {
    padding: 10px;
    margin-right: auto;
}
.menu{
    height: inherit;
}
button{
    height: inherit;
    padding: 0px 20px;
    background-color: inherit;
    border: none;
    color: #FFFCFF;
}
button:hover{
    filter: brightness(85%);
}
button:focus{
    background-color: #F6EF21;
    color: black;
}
