body{
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    display: flex;
    position: relative;
    margin-top: 10px;
    height: 100px;
}
.link{
    height: inherit;
    width: calc(25% - 40px);
    position: absolute;
}

.logga{
    width: fit-content;
    position: absolute;
    height: inherit;
}
.content{
    margin-top: 48px;
    border-top: 2px rgb(49, 49, 49) solid;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#logga1{
    height: inherit;
    width:auto;
}
#cum1{
    left: 0;
    top: 0;
}
#cum2{
    left: calc(25% - 40px);
    top: 0;
}
#cum3{
    left: calc(50% - 80px);
    top: 0;
}
#cum4{
    right: calc(25% + 10px);
    top: 0;
}
#cum5{
    right: 0;
    top: 0;
}

#cum2 .content{
    padding-right: 50px;
}
#cum4 .content{
    padding-left: 50px;
}